<!--
============================================
; Title: Exercise 3.4 - Guarding Routes
; Author: Professor Krasso
; Date: 8 June 2022
; Modified By: Joel Hartung
; Description: Exercise 3.4 - Guarding Routes
; Code Attribution: Additional code from WEB 425 Week 3 exercises and videos
;===========================================
-->


<!-- navigation menu -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</nav>
<br />
<br />
<!-- body container -->
<div class="container">
   <!--Assignment heading -->
  <h2>Assignment 3.4 - Guarding Routes</h2>
  <br />
  <div class="row">
    <div class="col-sm-4">
      <!-- my image component -->
      <app-my-image></app-my-image>
    </div>
    <div class="col-sm-8">
      <!-- my details component -->
      <app-my-details></app-my-details>
      </div>
  </div>

</div>
