<!--
============================================
; Title: Assignment 2.4 - Routing in Action
; Author: Professor Krasso
; Date: 31 May 2022
; Modified By: Joel Hartung
; Description: Assignment 2.4 - Routing in Action
; Code Attribution: Additional code from WEB 425 Week 2 exercises and videos
;===========================================
-->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <!-- composer name -->
      <h3 class="align-center">Danny Elfman</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">
    <div class="col-sm-3">
      <!-- composer profile image-->
      <img src="assets/Danny_Elfman_As_Satan.jpg" alt="Danny Elfman as Satan" style="max-width: 250px"/>
      <!-- image caption -->
      <figcaption>Image: <a href="https://commons.wikimedia.org/wiki/File:Danny_Elfman_As_Satan.jpg">Wikimedia Commons</a></figcaption>
    </div>
    <div class="col-sm-9">
     <!-- Composer bio -->
    <p>
      Danny Elfman (1953-Present) is the former lead singer of the 1980s New Wave band Oingo Boingo and a prominent film and television composer. As a composer, he wrote the themes to the Simpsons, Tim Burton's Batman movies, Sam Raimi's Spider-man movies, the Nightmare Before Christmas (where he also served as the singing voice of protagonist Jack Skellington), and much more. He is recently released a new solo album in 2021 titled Big Mess, and performed at the 2022 Coachella Music Festival.
    </p>
    </div>
  </div>
</div>
