<!--
============================================
; Title: Assignment 2.4 - Routing in Action
; Author: Professor Krasso
; Date: 31 May 2022
; Modified By: Joel Hartung
; Description: Assignment 2.4 - Routing in Action
; Code Attribution: Additional code from WEB 425 Week 2 exercises and videos
;===========================================
-->

<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Full name</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <tbody *ngFor="let composer of composers">
        <tr>
          <td scope="row">{{ composer.fullName }}</td>
          <td scope="row">{{ composer.genre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
