/*
============================================
; Title: Assignment 8.2 - Server-side Communications
; Author: Professor Krasso
; Date: 12 July 2022
; Modified By: Joel Hartung
; Title: Assignment 8.2 - Server-side Communications
; Code Attribution: Additional code from WEB 425 Week 8 assignment
;===========================================
*/

.logo {
  margin-top: 5 px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
