<!--
============================================
; Title: Assignment 4.4 - Async Pipe
; Author: Professor Krasso
; Date: 13 June 2022
; Modified By: Joel Hartung
; Title: Assignment 4.4 - Async Pipe
; Code Attribution: Additional code from WEB 425 Week 4 exercises and videos
;===========================================
-->

<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item">Composer ID: {{ composer.composerId }}</li>
      <li class="list-group-item">Full name: {{ composer.fullName }}</li>
      <li class="list-group-item">Genre: {{ composer.genre }}</li>
    </ul>
    <br />
    <a routerLink="/composer-list" class="float-right">Return to Composers</a>
  </div>
</div>
