/*
============================================
; Title: Exercise 6.2 - Input/Output Properties, Part 1
; Author: Professor Krasso
; Date: 27 June 2022
; Modified By: Joel Hartung
; Title: Exercise 6.2 - Input/Output Properties, Part 1
; Code Attribution: Additional code from WEB 425 Week 6 exercises and videos
;===========================================
*/

.logo {
  margin-top: 5 px;
}

.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}
