<!--
============================================
; Title: Assignment 5.4 - Dialogs
; Author: Professor Krasso
; Date: 22 June 2022
; Modified By: Joel Hartung
; Title:Assignment 5.4 - Dialogs
; Code Attribution: Additional code from WEB 425 Week 5 exercises and videos
;===========================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>1000 Galvin Road South</p>
      <p>Bellevue, NE</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 555-555-5555</p>
      <p>Toll-free: 1-800-555-5555</p>
      <p>Fax: 555-555-5555</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Service is just one click away!
  </p>
</div>
