<!--
============================================
; Title: Assignment 2.4 - Routing in Action
; Author: Professor Krasso
; Date: 31 May 2022
; Modified By: Joel Hartung
; Description: Assignment 2.4 - Routing in Action
; Code Attribution: Additional code from WEB 425 Week 2 exercises and videos
;===========================================
-->

<div class="contact-container">

  <div class="row">
    <div class="col-sm-12">
      <h3 style="padding-left: 27%;">Welcome to the Contact Us page</h3>
    </div>
  </div>

  <br /><br />
  <div class="row">

    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="bi bi-geo-alt"></i>Address</h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">81-8000 Avenue 51</li>
            <li class="list-group-item border-0">Indio, CA</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-6">
        <div class="row location">
          <div class="col-sm-12">
            <h1><i class="bi bi-telephone"></i>Telephone</h1>
          </div>
        </div>

        <div class="row location">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item border-0">Phone: 555-555-5555</li>
              <li class="list-group-item border-0">Fax: 555-555-5555</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
