<!--
============================================
; Title: Assignment 5.4 - Dialogs
; Author: Professor Krasso
; Date: 22 June 2022
; Modified By: Joel Hartung
; Title:Assignment 5.4 - Dialogs
; Code Attribution: Additional code from WEB 425 Week 5 exercises and videos
;===========================================
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../assets/david_cronenberg.jpg" style="max-width: 350px" />
      </div>
      <div>
        <em>
          David Cronenberg at the 2011 Toronto International Film Festival via <a class="attribution-link" href="https://en.wikipedia.org/wiki/David_Cronenberg#/media/File:Director_DAVID_CRONENBERG_of_the_film_'Spider'_during_the_Toronto_International_Film_Festival.jpg" target="_blank">Wikipedia</a>
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who is David Cronenberg?</h1>
    <p>
      David Cronenberg (1943-present) is a Canadian film director, actor, producer, and novelist. He is most known for his work in the horror genre, due to films such as Scanners (1981), The Dead Zone (1983), The Fly (1987), although he has dabbled in other genres. His debut novel "Consumed" was released in 2014. The plot revolves around a journalist investigating the suspicious death of a French writer, who was partially cannibalized. His most recent film, Crimes of the Future, was released in 2022.
    </p>
  </div>
</div>
