<!--
============================================
; Title: Exercise 3.4 - Guarding Routes
; Author: Professor Krasso
; Date: 8 June 2022
; Modified By: Joel Hartung
; Description: Exercise 3.4 - Guarding Routes
; Code Attribution: Additional code from WEB 425 Week 3 exercises and videos
;===========================================
-->

<div class="card signin-container">
  <div class="card-body">
    <h3 class="card-title">Sign in</h3>
    <br />
    <form class="card-text">
      <div class="form-group">
        <label for="txtUserName">Username</label>
        <input type="text" class="form-control" id="txtUserName" placeholder="Enter your username" />
      </div>
      <br />
      <div class="form-group">
        <label for="txtPassword">Password</label>
        <input type="password" class="form-control" id="txtPassword" placeholder="Enter your password" />
      </div>
      <br />
      <div class="form-group">
        <button class="btn btn-primary float-right" (click)="signin()">Submit</button>
      </div>

    </form>
  </div>
</div>
